/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: slategray;
}


/*Utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*Header*/

header{
    height: 80px;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.menu{
    padding: 10px 5px;
}

/*Main*/

#grid{
    width: 700px;
    height: 700px;
    border: 1px solid black;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

#grid .cell {
  height: calc(100% / 8);
  width: calc(100% / 8);
  border: 2px solid black;
  cursor: pointer;
  
}

.clicked {
    background-color: lightgreen;
  }
  
  .clicked.safe {
    color: black;
    background-color: lightskyblue;
  }
  
  .clicked.error {
    background-color: red;
  }
  